h1   {
    text-align: center;
    color:rgb(224, 100, 173);
    font-size:50px;
}
        
table, th, td {
    text-align: center;
    border: 3px solid whitesmoke;
  }
  button {
    border: 2px solid #d464a9; 
    color: rgb(179, 58, 158);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
p   {   
    text-align: center;
    color:rgb(255, 238, 251);
    font-size: 30px;
}